openapi: 3.0.3
info:
  title: EmotionsCare B2B Narrative API
  version: 1.0.0
  description: |
    Endpoints textuels pour les organisations partenaires. Aucun indicateur chiffré ni donnée personnelle n’est retourné.
servers:
  - url: https://edge.emotionscare.dev
paths:
  /b2b/teams/list:
    get:
      summary: Lister les cercles accompagnés
      description: Retourne des équipes agrégées avec une indication qualitative de taille.
      parameters:
        - in: query
          name: organisationId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Liste textuelle des équipes.
          content:
            application/json:
              schema:
                type: object
                properties:
                  teams:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        name:
                          type: string
                        sizeLabel:
                          type: string
                          description: Libellé qualitatif (ex. petite cohorte, grande division).
                        lastTouchpoint:
                          type: string
                          description: Résumé textuel du dernier accompagnement.
                      required:
                        - id
                        - name
                        - sizeLabel
                        - lastTouchpoint
                required:
                  - teams
        '401':
          description: Jeton manquant ou invalide.
        '403':
          description: Accès refusé pour l’organisation.
  /b2b/reports/summary:
    post:
      summary: Générer un rapport narratif
      description: Produit une synthèse textuelle par équipe et thématique, sans métrique numérique.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                organisationId:
                  type: string
                  format: uuid
                focus:
                  type: string
                  description: Thématique du rapport (ex. présence, sérénité collective).
                teams:
                  type: array
                  items:
                    type: string
                    format: uuid
              required:
                - organisationId
      responses:
        '200':
          description: Rapport textuel prêt pour diffusion.
          content:
            application/json:
              schema:
                type: object
                properties:
                  generatedAt:
                    type: string
                    format: date-time
                  headline:
                    type: string
                  narratives:
                    type: array
                    items:
                      type: object
                      properties:
                        teamId:
                          type: string
                          format: uuid
                        tone:
                          type: string
                        story:
                          type: string
                      required:
                        - teamId
                        - tone
                        - story
                required:
                  - generatedAt
                  - headline
                  - narratives
        '401':
          description: Jeton manquant ou invalide.
        '403':
          description: Organisation non autorisée.
  /b2b/audit/trail:
    get:
      summary: Consulter les actions sensibles
      description: Fournit une trace textuelle (redacted) des actions opérées par l’organisation.
      parameters:
        - in: query
          name: organisationId
          required: true
          schema:
            type: string
            format: uuid
        - in: query
          name: since
          required: false
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Flux d’événements anonymisés.
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      type: object
                      properties:
                        occurredAt:
                          type: string
                          format: date-time
                        actorHash:
                          type: string
                          description: Hachage non réversible.
                        description:
                          type: string
                      required:
                        - occurredAt
                        - actorHash
                        - description
                required:
                  - events
        '401':
          description: Jeton manquant ou invalide.
        '403':
          description: Organisation non autorisée.
  /b2b/exports/journal:
    post:
      summary: Préparer un export textuel
      description: Génère un lien sécurisé contenant des extraits narratifs anonymes. Aucune PII et aucune métrique chiffrée.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                organisationId:
                  type: string
                  format: uuid
                expiresInMinutes:
                  type: integer
                  minimum: 5
                  maximum: 60
                  description: Durée de validité du lien signé.
              required:
                - organisationId
      responses:
        '200':
          description: Lien généré.
          content:
            application/json:
              schema:
                type: object
                properties:
                  downloadUrl:
                    type: string
                    format: uri
                  guidance:
                    type: string
                    description: Instructions d’usage et restrictions RLS.
                required:
                  - downloadUrl
                  - guidance
        '401':
          description: Jeton manquant ou invalide.
        '403':
          description: Organisation non autorisée.
        '429':
          description: Trop de requêtes.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
  - bearerAuth: []
