:root {
  font-feature-settings: "cv02", "cv03", "cv04", "cv11", "ss01", "ss03";
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', sans-serif;
  }
}

header:nth-of-type(2),
.header-duplicate,
footer:nth-of-type(2),
.footer-duplicate {
  display: none !important;
}

* {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}
